# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database / local files
*.sqlite3
*.db

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/